<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphica Lab</title>
    <link rel="stylesheet" type="text/css" href="view/css/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="navbar">
          <div class="logo">
            <img src="view/assets/logo.png" alt="logo">
        </div>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="artikel.html">Artikel</a></li>
              <li><a href="portofolio.html">Portofolio</a></li>
              <li><a href="layanan.html">Layanan</a></li>
              <li><a href="about.html">Tentang Kami</a></li>
              <li><a href="#Contact">Kontak</a></li>
            </ul>   
        </div>
        <div class="menu-toggle">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <section class="section">
        <div class="container">
            <div class="center-column">
                <h2>Visi</h2>
                <p>Menjadi pusat kreativitas yang terkemuka di industri desain, diakui secara global karena inovasi, keunggulan dalam kualitas, dan komitmen terhadap pertumbuhan serta kolaborasi. Kami berusaha untuk merevolusi cara pandang dunia terhadap desain, membangun pengalaman yang memukau bagi klien kami, sambil memberdayakan tim desainer kami untuk mencapai potensi terbaik mereka.
                </p>
                <h2>Misi</h2>
                <p>Mendirikan dan mengembangkan sebuah bisnis desain yang mencakup berbagai bidang seperti grafis, arsitektur, interior, dan UI/UX, dengan fokus pada penyediaan layanan desain berkualitas tinggi kepada klien. Selain itu, kami berkomitmen untuk menciptakan lingkungan kerja yang mendukung pertumbuhan dan kolaborasi bagi para desainer kami
                </p>
            </div>
        </div>   
    </section>
    <footer id="Contact">
        <div class="footer-container">
          <div class="footer-section">
            <h3 style="color: #14364B;">Hubungi Kami</h3>
            <ul class="social-links">
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
            </ul>
          </div>
        </div>
      </footer> 
      <script>
        document.querySelector('.menu-toggle').addEventListener('click', function() {
          document.querySelector('.navbar').classList.toggle('active');
        });
      </script>
</body>
</html>
