<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing</title>
    <link rel="stylesheet" type="text/css" href="view/css/pricing.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="navbar">
          <div class="logo">
            <img src="view/assets/logo.png" alt="logo">
        </div>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="artikel.html">Artikel</a></li>
              <li><a href="portofolio.html">Portofolio</a></li>
              <li><a href="layanan.html">Layanan</a></li>
              <li><a href="about.html">Tentang Kami</a></li>
              <li><a href="#Contact">Kontak</a></li>
            </ul>   
        </div>
        <div class="menu-toggle">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <article>
        <div class="section2">
            <div class="container">
                <h1 class="title">Paket Harga Desain UI/UX</h1>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <h3>Paket Basic</h3>
                            <h2>Harga dimulai dari</h2>
                            <h1>Rp. 300.000</h1>
                            <div class="card-body">
                                <ul>
                                    <li>1 Halaman/Screen</li>
                                    <li>1 Hari pengerjaan</li>
                                    <li>Wireframes</li>
                                    <li>1x Revisi</li>
                                    <li>Hak Milik Desain</li>
                                    <li>Free Konsultasi</li>
                                    <li>Master File</li>
                                </ul>
                                <button><a href="form.html">Order Sekarang >></a></button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <h3>Paket Medium</h3>
                            <h2>Harga dimulai dari</h2>
                            <h1>Rp.1.500.000</h1>
                            <div class="card-body">
                                <ul>
                                    <li>5 Halaman/Screen</li>
                                    <li>3 Hari pengerjaan</li>
                                    <li>Wireframes</li>
                                    <li>5x Revisi</li>
                                    <li>Hak Milik Desain</li>
                                    <li>Free Konsultasi</li>
                                    <li>Master File</li>
                                </ul>
                                <button><a href="form.html">Order Sekarang >></a></button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <h3>Paket Premium</h3>
                            <h2>Harga dimulai dari</h2>
                            <h1>Rp.3.000.000</h1>
                            <div class="card-body">
                                <ul>
                                    <li>10 Halaman/Screen</li>
                                    <li>5 Hari pengerjaan</li>
                                    <li>Wireframes</li>
                                    <li>5x Revisi</li>
                                    <li>Hak Milik Desain</li>
                                    <li>Free Konsultasi</li>
                                    <li>Master File</li>
                                </ul>
                                <button><a href="form.html">Order Sekarang >></a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <footer id="Contact">
        <div class="footer-container">
          <div class="footer-section">
            <h3 style="color: #14364B;">Hubungi Kami</h3>
            <ul class="social-links">
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
            </ul>
          </div>
        </div>
    </footer>
    <script>
        document.querySelector('.menu-toggle').addEventListener('click', function() {
          document.querySelector('.navbar').classList.toggle('active');
        });
      </script>
</body>
</html>
