<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphica Lab</title>
    <link rel="stylesheet" type="text/css" href="view/css/portofolio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
      <div class="navbar">
        <div class="logo">
          <img src="view/assets/logo.png" alt="logo">
      </div>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="artikel.html">Artikel</a></li>
            <li><a href="portofolio.html">Portofolio</a></li>
            <li><a href="layanan.html">Layanan</a></li>
            <li><a href="about.html">Tentang Kami</a></li>
            <li><a href="#Contact">Kontak</a></li>
          </ul>   
      </div>
      <div class="menu-toggle">
          <i class="fas fa-bars"></i>
      </div>

      <section class="section">
        <p class="header1">KARYA TERBARU KAMI?</p>
        <p class="subtitle1">Portofolio</p>
        <div class="projects">
            <div class="project" onclick="showDetails(0)">
                <img src="view/assets/project1.png" alt="Project 1">
            </div>
            <div class="project" onclick="showDetails(1)">
                <img src="view/assets/project2.png" alt="Project 2">
            </div>
            <div class="project" onclick="showDetails(2)">
              <img src="view/assets/project3.png" alt="Project 3">
            </div>
            <div class="project" onclick="showDetails(3)">
              <img src="view/assets/project4.png" alt="Project 2">
            </div>
            <div class="project" onclick="showDetails(4)">
              <img src="view/assets/project5.png" alt="Project 1">
            </div>
            <!-- <div class="project" onclick="showDetails(5)">
                <img src="view/assets/project6.png" alt="Project 1">
            </div>
            <div class="project" onclick="showDetails(6)">
                <img src="view/assets/project7.png" alt="Project 1">
            </div> -->
            <div class="project" onclick="showDetails(7)">
                <img src="view/assets/project8.png" alt="Project 2">
            </div>
            <div class="project" onclick="showDetails(8)">
              <img src="view/assets/project9.png" alt="Project 3">
            </div>
            <div class="project" onclick="showDetails(9)">
              <img src="view/assets/project10.png" alt="Project 2">
            </div>
            <div class="project" onclick="showDetails(10)">
              <img src="view/assets/project11.png" alt="Project 1">
            </div>
            <div class="project" onclick="showDetails(11)">
                <img src="view/assets/project12.png" alt="Project 1">
            </div>
            <div class="project" onclick="showDetails(12)">
                <img src="view/assets/project13.png" alt="Project 1">
            </div>
            <div class="project" onclick="showDetails(13)">
                <img src="view/assets/project14.png" alt="Project 2">
            </div>
            <div class="project" onclick="showDetails(14)">
                <img src="view/assets/project15.png" alt="Project 2">
            </div>
            <div class="project" onclick="showDetails(15)">
                <img src="view/assets/project16.png" alt="Project 2">
            </div>
        </div>
    </section>
    <div class="modal" id="projectModal">
      <span class="close" onclick="closeModal()">&times;</span>
      <button class="prev" onclick="prevProject()">&#10094;</button>
      <button class="next" onclick="nextProject()">&#10095;</button>
      <img class="modal-content" id="modalImage">
      <div id="projectDetails" class="project-details">
        <h2 id="projectTitle"></h2>
        <p id="projectDescription"></p>
      </div>
    </div>    
    </article>
    <footer id="Contact">
      <div class="footer-container">
        <div class="footer-section">
          <h3 style="color: #14364B;">Hubungi Kami</h3>
          <ul class="social-links">
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>  
    <script>
      document.querySelector('.menu-toggle').addEventListener('click', function() {
        document.querySelector('.navbar').classList.toggle('active');
      });
    </script>
    <script src="view/javascript/portofolio.js"></script>
</body>
</html>
