:root {
    --primary-color: #14364B;
    --secondary-color: #326789;
    --background-color: #F8F8F8;
    --text-color: #14364B;
    --white-color: #fff;
    --light-gray-color: #666;
    --dark-gray-color: #ddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Heebo', sans-serif;
    background-color: var(--background-color);
}

header {
    background-color: var(--white-color);
    color: var(--text-color);
    padding: 20px 20px;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    padding: 20px 0;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    display: inline-block;
    margin-right: 60px;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
}

.navbar ul li a:hover {
    color: var(--secondary-color);
}

.navbar ul li img {
    vertical-align: middle;
}

.menu-toggle {
    position: absolute;
    right: 0;
    cursor: pointer;
    margin-right: 20px;
    display: none;
}

.section2 {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    flex-wrap: wrap;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.judul1 {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: var(--text-color);
}

.judul2 {
    margin-top: 16px;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    color: var(--text-color);
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 110px;
}

.col {
    flex-basis: calc(33% - 15px);
    margin-bottom: 20px;
}

.card {
    border-radius: 5px;
    background-color: var(--background-color);
    height: 545px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body h3 {
    margin-top: 0;
    text-align: center;
    color: var(--secondary-color);
}

.card-body p {
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
}

.card-body button {
    align-self: flex-end;
    width: 100%;
    padding: 10px 0;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card-body button a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 13px;
}

.card-body button:hover {
    background-color: var(--secondary-color);
}

footer {
    background-color: var(--background-color);
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    text-align: center;
}

.footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.social-links {
    list-style-type: none;
    padding: 0;
}

.social-links li {
    display: inline-block;
    margin-right: 10px;
}

.social-links li a {
    color: var(--primary-color);
    font-size: 24px;
}

.social-links li a:hover {
    color: var(--secondary-color);
}

@media (max-width: 1200px) {
    .navbar {
        margin: 0 50px;
    }

    .second {
        margin-left: 50px;
    }

    .foto {
        margin-right: 50px;
        width: 250px;
    }

    .section2 {
        margin-left: 50px;
    }
}

@media (max-width: 992px) {
    .navbar ul li {
        margin-right: 30px;
    }

    .column {
        width: 45%;
    }

    .foto {
        display: none;
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        margin: 0 20px;
    }

    .navbar ul {
        margin-top: 30px;
        display: none;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        margin-top: -50px;
    }

    .navbar.active ul {
        display: block;
    }

    .navbar ul li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .title {
        font-size: 16px;
    }

    .second {
        margin-left: 20px;
        margin-top: -0.5px;
        margin-bottom: -5px;
    }

    .fotoo2 {
        display: none;
    }

    .foto {
        display: none;
    }

    .section2 {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
    }

    .column {
        width: 100%;
    }

    .card {
        height: auto;
    }
}

@media (max-width: 576px) {
    .navbar {
        margin: 0 10px;
    }

    .second {
        margin-left: 10px;
    }

    .section2 {
        margin-left: 10px;
    }

    .foto {
        width: 150px;
    }

    .slogan {
        font-size: 36px;
    }

    .subtitle1 {
        font-size: 28px;
    }

    .header1 {
        font-size: 20px;
    }

    .start {
        width: 100px;
        height: 40px;
        font-size: 14px;
    }

    .card-body p {
        font-size: 12px;
    }

    .card-body button {
        font-size: 12px;
    }

    .detail button {
        width: 150px;
        font-size: 12px;
    }
}
