<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
</head>
<body>
  <!-- <h1>Login</h1> -->
  <form action="/login" method="POST">
    <label for="username">Email:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Login</button>
    <!-- <p>Belum ada akun? <a href="/register">Silakan Register</a></p> -->
  </form>
</body>
</html>
